In [1]:
import pandas as pd

pandas version:  1.4.2

In [2]:
data = pd.read_csv("testest.csv", encoding="utf-8")
data

      uid area  level  length  time  water  toilet  mart keyword         road
0       2   충남      2    13.8   240      0       1     1      자연    남산 녹색 둘레길
1       0   충남      2    13.8   240      0       1     1      자연    남산 녹색 둘레길
2       7   충남      2    13.8   240      0       1     1      자연    남산 녹색 둘레길
3       8   충남      2    13.8   240      0       1     1      자연    남산 녹색 둘레길
4       5   충남      3     2.1    60      1       1     1      자연  거북이 마을 솔바람길
...   ...  ...    ...     ...   ...    ...     ...   ...     ...          ...
1706    5   경남      3     7.1   150      1       1     0      자연       창원 둘레길
1707    5   경남      5     4.4   130      1       0     0      자연       창원 둘레길
1708    5   경남      3    12.6   250      1       0     0      자연       창원 둘레길
1709    5   경남      1    20.0   200      1       1     0      자연       창원 둘레길
1710    5   경남      1     4.0    80      0       1     1      자연       창원 둘레길

[1711 rows x 10 columns]

In [3]:
data["level"].unique()

array([2, 3, 4, 1, 5], dtype=int64)

In [4]:
data = data.astype({"length":"float", "time":"int", "uid":"object"})

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1711 entries, 0 to 1710
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   uid      1711 non-null   object
 1   area     1711 non-null   object
 2   level    1711 non-null   int64
 3   length   1711 non-null   float64
 4   time     1711 non-null   int32
 5   water    1711 non-null   int64
 6   toilet   1711 non-null   int64
 7   mart     1711 non-null   int64
 8   keyword  1711 non-null   object
 9   road     1711 non-null   object
dtypes: float64(1), int32(1), int64(4), object(4)
memory usage: 127.1+ KB

In [6]:
data["area"].unique()

array(['충남', '강원', '서울', '전남', '충북', '전북', '경남', '경기', '대구', '경북', '인천',
       '대전', '울산', '광주', '제주', '부산', '세종'], dtype=object)

In [7]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]
X

     uid area  level  length  time  water  toilet  mart keyword
0      2   충남      2    13.8   240      0       1     1      자연
1      0   충남      2    13.8   240      0       1     1      자연
2      7   충남      2    13.8   240      0       1     1      자연
3      8   충남      2    13.8   240      0       1     1      자연
4      5   충남      3     2.1    60      1       1     1      자연
...   ..  ...    ...     ...   ...    ...     ...   ...     ...
1706   5   경남      3     7.1   150      1       1     0      자연
1707   5   경남      5     4.4   130      1       0     0      자연
1708   5   경남      3    12.6   250      1       0     0      자연
1709   5   경남      1    20.0   200      1       1     0      자연
1710   5   경남      1     4.0    80      0       1     1      자연

[1711 rows x 9 columns]

In [8]:
area_dum = pd.get_dummies(data["area"])
X = pd.concat([X, area_dum], axis=1)
X.drop(["area"], inplace=True, axis=1)
X

,uid,level,length,time,water,toilet,mart,keyword,강원,경기,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
0,2,2,13.8,240,0,1,1,자연,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,2,13.8,240,0,1,1,자연,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,7,2,13.8,240,0,1,1,자연,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,8,2,13.8,240,0,1,1,자연,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,5,3,2.1,60,1,1,1,자연,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1706,5,3,7.1,150,1,1,0,자연,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1707,5,5,4.4,130,1,0,0,자연,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1708,5,3,12.6,250,1,0,0,자연,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1709,5,1,20.0,200,1,1,0,자연,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1710,5,1,4.0,80,0,1,1,자연,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
level_dum = pd.get_dummies(data["level"])
X = pd.concat([X, level_dum], axis=1)
X.drop(["level"], inplace=True, axis=1)
X

,uid,length,time,water,toilet,mart,keyword,강원,경기,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북,1,2,3,4,5
0,2,13.8,240,0,1,1,자연,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0
1,0,13.8,240,0,1,1,자연,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0
2,7,13.8,240,0,1,1,자연,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0
3,8,13.8,240,0,1,1,자연,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0
4,5,2.1,60,1,1,1,자연,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1706,5,7.1,150,1,1,0,자연,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1707,5,4.4,130,1,0,0,자연,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1708,5,12.6,250,1,0,0,자연,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1709,5,20.0,200,1,1,0,자연,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1710,5,4.0,80,0,1,1,자연,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [10]:
ID_dum = pd.get_dummies(data["uid"])
X = pd.concat([X, ID_dum], axis=1)
X.drop(["uid"], inplace=True, axis=1)
X

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)

,length,time,water,toilet,mart,keyword,강원,경기,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북,1,2,3,4,5,0,1,2,3,4,5,6,7,8,9
0,13.8,240,0,1,1,자연,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
1,13.8,240,0,1,1,자연,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
2,13.8,240,0,1,1,자연,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
3,13.8,240,0,1,1,자연,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
4,2.1,60,1,1,1,자연,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1706,7.1,150,1,1,0,자연,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
1707,4.4,130,1,0,0,자연,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1708,12.6,250,1,0,0,자연,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
1709,20.0,200,1,1,0,자연,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1710,4.0,80,0,1,1,자연,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [11]:
keyword_dum = pd.get_dummies(data["keyword"])
X = pd.concat([X, keyword_dum], axis=1)
X.drop(["keyword"], inplace=True, axis=1)
X

,length,time,water,toilet,mart,강원,경기,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북,1,2,3,4,5,0,1,2,3,4,5,6,7,8,9,도시,자연,전통,종교,체험
0,13.8,240,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
1,13.8,240,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,13.8,240,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0
3,13.8,240,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0
4,2.1,60,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1706,7.1,150,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
1707,4.4,130,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
1708,12.6,250,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
1709,20.0,200,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
1710,4.0,80,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
sc = MinMaxScaler()

In [15]:
X = sc.fit_transform(X)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
for i in range(1, 51):
    model = RandomForestClassifier(max_depth=i, random_state=123)
    model.fit(X[:-1], y[:-1])
    X_test = X[-1:]
    y_test = y[-1:]
    print("depth: {}".format(i))
    print(model.score(X_test, y_test))

depth: 1
0.0
depth: 2
0.0
depth: 3
1.0
depth: 4
1.0
depth: 5
1.0
depth: 6
1.0
depth: 7
1.0
depth: 8
1.0
depth: 9
1.0
depth: 10
0.0
depth: 11
0.0
depth: 12
0.0
depth: 13
1.0
depth: 14
0.0
depth: 15
0.0
depth: 16
0.0
depth: 17
0.0
depth: 18
0.0
depth: 19
0.0
depth: 20
0.0
depth: 21
0.0
depth: 22
0.0
depth: 23
0.0
depth: 24
0.0
depth: 25
0.0
depth: 26
0.0
depth: 27
0.0
depth: 28
0.0
depth: 29
0.0
depth: 30
0.0
depth: 31
0.0
depth: 32
0.0
depth: 33
0.0
depth: 34
0.0
depth: 35
0.0
depth: 36
0.0
depth: 37
0.0
depth: 38
0.0
depth: 39
0.0
depth: 40
0.0
depth: 41
0.0
depth: 42
0.0
depth: 43
0.0
depth: 44
0.0
depth: 45
0.0
depth: 46
0.0
depth: 47
0.0
depth: 48
0.0
depth: 49
0.0
depth: 50
0.0

In [18]:
model = RandomForestClassifier(max_depth=30, random_state=123)

In [19]:
model.fit(X[:-39], y[:-39])

RandomForestClassifier(max_depth=30, random_state=123)

In [20]:
X_test = X[-39:]
X_test

array([[0.04124861, 0.01042391, 0.        , 1.        , 1.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        ]])

In [21]:
y_test = y[-39:]
y_test

1710    창원 둘레길
Name: road, dtype: object

In [22]:
model.predict(X_test)

array(['가야산소리길'], dtype=object)

In [23]:
model.score(X_test, y_test)

0.0

In [24]:
import joblib

In [25]:
joblib.dump(model, 'model_v3.pkl')

['model_v3.pkl']

In [26]:
loaded_model = joblib.load('./model_v3.pkl')

In [27]:
loaded_model.score(X_test, y_test)

0.0

In [28]:
X_test

array([[0.04124861, 0.01042391, 0.        , 1.        , 1.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        ]])

In [29]:
X.shape

(1711, 42)